*{
    background-color: honeydew;
}
h1 {
    margin-top: 50px;
    text-align: center;
}
li {
   padding: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
}
 .steak {
    margin-top: 75px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
 }
 .roll {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
 .cookie {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
a:link {
    color:black;
    background-color: white;
}